@import "./mixins.scss";

.quotes-container {
  max-width: 800px;
  margin: 100px auto;
}
.heading {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  transform: translateY(-50px);
}

.quote-details {
  margin-bottom: 100px;
  @include breakpoint(400px) {
    margin-bottom: 40px;
  }
  &__author {
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    @include breakpoint(600px) {
      font-size: 20px;
    }
    @include breakpoint(400px) {
      font-size: 18px;
    }
  }
}

.quote {
  display: flex;
  &__text {
    font-weight: 500;
    font-size: 36px;
    @include breakpoint(600px) {
      font-size: 24px;
    }
    @include breakpoint(400px) {
      font-size: 20px;
    }
  }
  &::before {
    content: "";
    min-width: 8px;
    background-color: #f7df94;
    border-radius: 80px;
    margin-right: 100px;
    @include breakpoint(600px) {
      margin-right: 30px;
    }
    @include breakpoint(400px) {
      margin-right: 20px;
    }
  }
}

.author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  transition: all 0.1s ease-out;
  @include breakpoint(600px) {
    padding: 40px 20px;
  }
  @include breakpoint(400px) {
    padding: 20px 10px;
  }

  &:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}

.author {
  &__name {
    font-weight: 700;
    font-size: 24px;
    @include breakpoint(600px) {
      font-size: 20px;
    }
    @include breakpoint(400px) {
      font-size: 18px;
    }
  }
  &__type {
    font-weight: 500;
    font-size: 14px;
    color: #828282;
  }
}
